.ShopLater-form {
    color: white;
    font-weight: bold;
    padding: 16px;
    max-width: 332px;
  }

  .ShopLater-form label {
    display: block;
    font-size: 20px;
    padding-bottom: 16px;
  }
  
  @media all and (min-width: 480px) {  
  h2{
    text-decoration: underline wavy cornflowerblue;
  }

  .ShopLater-form label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    padding-bottom: 16px;
  }
  
  .ShopLater-form input,
  .ShopLater-form textarea,
  .ShopLater-form select {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 8px;
    width: 300px;
    border-radius: 5px;
  }
  
  .ShopLater-form select {
    display: flex;
    height: 33px;
  }
  
  .ShopLater-form > .field {
    display: flex;
    margin-bottom: 16px;
  }
  .ShopLater-form > .buttons {
    margin-top: 26px;
  }
  
  .ShopLater-form button {
    background-color: cornsilk;
    border-radius: 4px;
    color: black;
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    text-align: center;
    text-decoration: none;
  }
  .ShopLater-form button[type="submit"]:hover {
    background-color: gray;
    color: white;
  }
}